{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
	<main class="container_all_series">
		<div class="container">
			<div class="container_series">
				{% if category.name is defined %}
					<div>
						<h1 class="text-center mt-5 mb-5">{{ category.name }}</h1>
					</div>
					{% for program in programs %}
						<div class="container_series">

							<a href="{{ path("program_show", { slug: program.slug } ) }}">
								<h2 class="text-center mt-5 mb-3">{{ program.title }}</h2>
							</a>

							<p class="text-center mt-5">
								<img src="{{ program.poster }}" alt="{{ program.title }} poster" class="photo_serie">
							</p>

							<p class="text-center m-5">{{ program.synopsis }}</p>
						</div>

					{% endfor %}
				{% else %}
					<h2 class="text-center mt-5 mb-5">
						Désolé, aucune catégorie de ce nom trouvée.</h2>
				{% endif %}

				<p class="text-center mt-5 mb-5">
					<a href="{{ path('category_index') }}">Retour à la liste des catégories</a>
				</p>
			</div>
		</div>
	</main>
{% endblock %}
