{% extends 'base.html.twig' %}

{% block title %}Episode index
{% endblock %}

{% block body %}
	<main class="container">
		<div class="container_series">
			<h1 class="text-center mt-5 mb-5">Index des épisodes</h1>
			<p class="mb-5">
				<a href="{{ path('app_episode_new') }}">Create new</a>
			</p>
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Titre</th>
						<th>Numéro</th>
						<th>Synopsis</th>
						<th>Actions</th>
					<méro
				</thead>
				<tbody>
					{% for episode in episodes %}
						<tr>
							<td>{{ episode.id }}</td>
							<td>{{ episode.title|striptags|slice(0,20) }}</td>
							<td>{{ episode.number }}</td>
							<td>{{ episode.synopsis|striptags|slice(0,30)}}</td>
							<td>
								<button class="btn btn-secondary btn-sm">
									<a href="{{ path('app_episode_show', {'id': episode.id}) }}">show</a>
								</button>
								<button class="btn btn-secondary btn-sm">
									<a href="{{ path('app_episode_edit', {'id': episode.id}) }}">edit</a>
								</button>
							</td>
						</tr>
					</td>
				</tbody>
			</tr>
		{% else %}
			<tr>
				<td colspan="5">no records found</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
</div>
</main>
{% endblock %}
