<div>
	{{ form_start(form) }}

	<p class="my-custom-class-for-errors">
		{{ form_errors(form.title) }}
	</p>
	<p class="text-center mt-5 mb-1">
		{{ form_label(form.title) }}
	</p>
	<p class="text-center mt-1 mb-5">
		{{ form_widget(form.title) }}
	</p>

	<p class="my-custom-class-for-errors">
		{{ form_errors(form.synopsis) }}
	</p>
	<p class="text-center mt-5 mb-1">
		{{ form_label(form.synopsis) }}
	</p>
	<p class="text-center mt-1 mb-5">
		{{ form_widget(form.synopsis) }}
	</p>

	<p class="my-custom-class-for-errors">
		{{ form_errors(form.poster) }}
	</p>
	<p class="text-center mt-5 mb-1">
		{{ form_label(form.poster) }}
	</p>
	<p class="text-center mt-1 mb-5">
		{{ form_widget(form.poster) }}
	</p>

	<p class="my-custom-class-for-errors">
		{{ form_errors(form.category) }}
	</p>
	<p class="text-center mt-5 mb-1">
		{{ form_label(form.category) }}
	</p>
	<p class="text-center mt-1 mb-5">
		{{ form_widget(form.category) }}
	</p>

	<p class="my-custom-class-for-errors">
		{{ form_errors(form.actors) }}
	</p>
	<p class="text-center mt-5 mb-1">
		{{ form_label(form.actors) }}
	</p>
	<p class="text-center mt-1 mb-5">
		{{ form_widget(form.actors) }}
	</p>
    <p class="text-center">
        <button class="btn btn-secondary btn-sm">{{ button_label|default('Save') }}</button>
    </p>
		{{ form_end(form) }}
	</p>
</div>
