{% extends 'base.html.twig' %}

{% block title %}{{episode.title}} {% endblock %}

{% block body %}
	<main class="container_all_series">
		<div class="container">
			<div class="container_series">
				<div>
					<h1 class="text-center mt-5 mb-5">{{ season.program.title }} - Saison {{season.number}}</h1>
				</div>
                <h1 class="text-center mt-5 mb-5">Episode : {{ episode.number }} - {{ episode.title }}</h1>
                <p class="text-center m-5">{{ episode.synopsis }}</p>
                <p class="text-center mt-5">
                    <a href="/program/{{ season.program.id }}/season/{{ season.id }}">Retour vers la sélection des épisodes</a>
                </p>
				<p class="text-center mt-2 mb-5">
					<a href="/program/{{ season.program.id }}">Retour vers la sélection des saisons</a>
				</p>
			</div>
		</div>
	</main>
{% endblock %}