{% extends 'base.html.twig' %}

{% block title %}{{episode.title}} {% endblock %}

{% block body %}
	<main class="container_all_series">
		<div class="container">
			<div class="container_series">
				<div>
					<h1 class="text-center mt-5 mb-3">{{ season.program.title }} - Saison {{season.number}}</h1>
				</div>
                <h1 class="text-center mt-5 mb-5">Episode : {{ episode.number }} - {{ episode.title }}</h1>
                <p class="text-center mt-3">{{ episode.synopsis }}</p>
                <p class="text-center mt-5">
                    <a href="/program/{{ season.program.slug }}/season/{{ season.id }}">Retour vers la sélection des épisodes</a>
                </p>
				<p class="text-center mt-2 mb-5">
					<a href="/program/{{ season.program.slug }}">Retour vers la sélection des saisons</a>
				</p>
				<div>
					<h3 class="text-center mt-5 mb-5">Commentaires des internautes : </h3>
					{% if comments.episode.id is defined %}
					<div class="container">
						{% for comment in comments.episode.id %}
							<h6 class="mr-5">De {{ comment.author.name}} / Note : {{ comment.rate }} - {{ comment.comment }}</h6>
						{% endfor %}
					{% else %}
							<h6 class="text-center">Soyez le premier à écrire un commentaire et à noter cet épisode !</h6>
					</div>
					{% endif %}	
					{% if app.user %}
						{% include 'program/_form_comment.html.twig' %}	
					{% else %}
						<h3 class="text-center mt-5"> Vous devez vous connecter pour laisser un commentaire.</h3>
					{% endif %}				
				</div>
			</div>
		</div>
	</main>
{% endblock %}