{% extends 'base.html.twig' %}

{% block title %}Toutes les séries{% endblock %}

{% block body %}
{% for category, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
	<main class="container_all_series">
		<div class="container">
			<div class="container_series">
				<h1 class="text-center mt-5 mb-5">Toutes les séries :</h1>
				<div class="text-center">
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button>Search</button>
				{{ form_end(form) }}
				</div>
				{% for program in programs %}
					<div>
						<h2 class="text-center mt-5 mb-2">
							{{ loop.index }}
							/
							{{ program.title }}
							-
							{{ program.category.name }}
						</h2>
						<p class="text-center">
							<a href="{{ path("program_show", { slug: program.slug }) }}">Voir en détail</a>
						</p>
						<p class="text-center">
							<img src="{{ program.poster }}" alt="{{ program.title }} poster" class="photo_serie"></p>
						<p class="text-center m-5">
							{{ program.synopsis }}
						</p>

					</div>
				{% if is_granted("ROLE_ADMIN") %}
					<a class="text-center" href="{{ path('program_edit', { 'slug': program.slug} ) }}">Éditer</a>
				{% endif %}
				{% else %}
					<p class="text-center mt-5 mb-5">
						Désolé, aucune série trouvée.</p>
				{% endfor %}

				<p class="text-center mb-5">
					<a href="{{ path('app_index') }}">
						Retour à l'accueil</a>
				</p>

			</div>
		</div>
	</main>
{% endblock %}
