{# templates/program/new.html.twig #}

{% extends "base.html.twig" %}

{% block body %}
	<main class="container_all_series">
		<div class="container">
			<div class="container_series">
				<div class="text-center mt-5 mb-5">
					<h1 class="text-center mt-5 mb-5">Ajouter une série</h1>
                    <div>
					    {{ form_start(form) }}

                    <p class="my-custom-class-for-errors">
                        {{ form_errors(form.title) }}
                    </p>
                        <p class="text-center mt-5 mb-1">
                            {{ form_label(form.title) }}
                        </p>
                        <p class="text-center mt-1 mb-5">
                            {{ form_widget(form.title) }}
                        </p>

                    <p class="my-custom-class-for-errors">
                        {{ form_errors(form.synopsis) }}
                    </p>
                        <p class="text-center mt-5 mb-1">
                            {{ form_label(form.synopsis) }}
                        </p>
                        <p class="text-center mt-1 mb-5">
                            {{ form_widget(form.synopsis) }}
                        </p>

                    <p class="my-custom-class-for-errors">
                        {{ form_errors(form.poster) }}
                    </p>
                        <p class="text-center mt-5 mb-1">    
                            {{ form_label(form.poster) }}
                        </p>
                        <p class="text-center mt-1 mb-5">
                            {{ form_widget(form.poster) }}
                        </p>

                    <p class="my-custom-class-for-errors">
                        {{ form_errors(form.category) }}
                    </p>
                        <p class="text-center mt-5 mb-1">
                            {{ form_label(form.category) }}
                        </p>
                        <p class="text-center mt-1 mb-5">
                            {{ form_widget(form.category) }}
                        </p>

                    <p class="my-custom-class-for-errors">
                        {{ form_errors(form.actors) }}
                    </p>
                        <p class="text-center mt-5 mb-1">
                            {{ form_label(form.actors) }}
                        </p>
                        <p class="text-center mt-1 mb-5">
                            {{ form_widget(form.actors) }}
                        </p>
                        <p class="text-center mt-5 mb-5">

					    <button class="btn btn-secondary btn-sm mt-5 mb-5" type="submit">Ajouter</button>

					{{ form_end(form) }}

				</div>
			</div>
		</div>
	</main>
{% endblock %}