{% extends 'layoutEmail.html.twig' %}

{% block title %}Wild Series Email{% endblock %}

{% block body %}
	<h1 class="text-center">New program
		{{ program.title }}
		created</h1>
	<p>Hello, the new program
		{{ program.title }}
		has been created on Wild Series</p>
	<p>Synopsis :
		{{program.synopsis }}</p>
	<p> Click here now to see it 
	<a href="{{ absolute_url(path("program_show",{"slug":program.slug}))}}">{{ program.title }}</a>
	<p>
{% endblock %}
