{% extends 'base.html.twig' %}

{% block title %}Series
	{{season.program.title}}
{% endblock %}

{% block body %}
	<main class="container_all_series">
		<div class="container">
			<div class="container_series">
				<div>
					<h1 class="text-center mt-5 mb-5">{{ season.program.title }}
						- Saison
						{{season.number}}</h1>
				</div>
				<p class="">{{season.description}}</p>
                <h1>Episodes disponibles :</h1>
                <ul>
                 {% for episode in season.episodes %}
                    <li><a href="/program/{{ season.program.id }}/season/{{ season.id }}/episode/{{ episode.id}}">
                    Episode : {{ episode.number }} - {{ episode.title }}</a></li>
                {% endfor %}
                </ul>
				<p class="text-center mt-5 mb-5">
					<a href="/program/{{ season.program.id }}">Retour vers la série</a>
				</p>
			</div>
		</div>
	</main>
{% endblock %}
