{% extends 'base.html.twig' %}

{% block title %}{{season.program.title}} {% endblock %}

{% block body %}
	<main class="container_all_series">
		<div class="container">
			<div class="container_series">
				<div>
					<h1 class="text-center mt-5 mb-5">{{ season.program.title }}
						- Saison
						{{season.number}}</h1>
				</div>
				<p class="text-center mb-5">{{season.description}}</p>
                <h1 class="text-center mt-5 mb-5">Episodes disponibles :</h1>
                <ul>
                 {% for episode in season.episodes %}
                    <li class="text-center mt-5 mb-5"><a href="/program/{{ season.program.slug }}/season/{{ season.id }}/episode/{{ episode.slug}}">
                    Episode : {{ episode.number }} - {{ episode.title }}</a></li>
                {% endfor %}
                </ul>
				<p class="text-center mt-5 mb-5">
					<a href="/program/{{ season.program.id }}">Retour vers la sélection des saisons</a>
				</p>
			</div>
		</div>
	</main>
{% endblock %}
