{% extends 'base.html.twig' %}


{% block title %}Series # {{ program.id }} {% endblock %}


{% block body %}
<main class="container_series">

    <div class="container">
        <h1 class="text-center mt-5 mb-5">{{ program.title }}</h1>
        <p class="text-center mt-5"><img src="{{ program.poster }}" alt="{{ program.title }} poster"></p>
        <div class="media-body mt-5">    
            <p class="text-center">{{ program.synopsis }}</p>
            <p class="text-center"> Catégorie : {{ program.category.name }}</p>
        </div>
    
        <p class="text-center mt-5 mb-5">
            <a href="{{ path('program_index') }}">Retour vers toutes les séries</a>
        </p>
    </div>

</main>
{% endblock %}