{% extends 'base.html.twig' %}

{% block title %}
	{{ program.title }}
{% endblock %}

{% block body %}
	<main class="container_all_series">
		<div class="container">
			<div class="container_series">
				<h1 class="text-center mt-5 mb-2">{{ program.title }}</h1>
				<p class="text-center mt-5"><img src="{{ program.poster }}" alt="{{ program.title }} poster" id="poster"></p>
				<div>
					<p class="text-center">{{ program.synopsis }}</p>
					<p class="text-center">
						Catégorie :
						{{ program.category.name }}</p>
					<h1 class="text-center mt-5 mb-5">Saisons disponibles :</h1>
					<ul>
						{% for season in seasons %}
							<li class="text-center mt-5">
								<a href="/program/{{ program.slug }}/season/{{ season.id }}">
									Saison
									{{season.number}}
									({{ season.year}})</a>
							</li>
						{% endfor %}
					</ul>
					<h1 class="text-center mt-5 mb-5">Acteurs :</h1>
					<ul class= "text-center">
						{% for actor in program.actors %}
							
							<li><a href="/actor/{{ actor.id }}">{{ actor.firstname }} {{actor.lastname }}</a></li>
							
						{% else %}
							<li>Aucun acteur pour cette série</li>
						{% endfor %}

					</ul>
				</div>
				<p class="text-center mt-5 mb-5">
					<a href="{{ path('program_index') }}">Retour vers toutes les séries</a>
				</p>
			</div>
		</div>
	</main>
{% endblock %}
